
[Unit]
Description=Prometheus
Wants=network-online.target
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/prometheus
PIDFile=/var/run/prometheus.pid
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/opt/prometheus/current/prometheus \
--config.file=/etc/prometheus/prometheus.yml \
--storage.tsdb.path=/var/lib/prometheus/ \
--web.console.templates=/etc/prometheus/consoles \
--web.console.libraries=/etc/prometheus/console_libraries
SyslogIdentifier=prometheus
Restart=always

[Install]
WantedBy=multi-user.target